@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 5px 120px;
}

.navbar {
    display: flex;
    gap: 20px;
}

.game-section {
    font-size: 3rem;
    font-weight: 700;
}

.gamer {
    color: rgb(13, 197, 221);
}

nav img {
    width: 20%;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.5rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.follow {
    background-color: #d6d1d1;
    padding: 10px 8px;
    border-radius: 5px;
}

.fa-youtube {
    color: rgb(245, 22, 22);
}

.banner {
    display: flex;
    background-color: rgb(241, 240, 238);
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-left: 150px;
}

.banner img {
    width: 80%;
}

.play {
    font-size: 2.8rem;
    font-weight: 700;
    margin: 0;
}

.goat {
    font-size: 5.6rem;
    color: rgb(218, 32, 125);
    margin: 0;
}

.btn-game {
    margin-top: 30px;
    gap: 30px;
}

.button {
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    border-radius: 10px;
}

.sign-in {
    background-color: rgb(13, 197, 221);
}

.go-rogue {
    background-color: rgb(218, 32, 125);
    margin-left: 20px;
}

.extra-container {
    display: flex;
    background-color: rgb(245, 241, 236);
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-right: 150px;
}

.container-gamer {
    color: rgb(218, 32, 125);
}