@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

nav {
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

.navbar {
    display: flex;
    gap: 20px;
}

.game-section {
    font-size: 3rem;
    font-weight: 700;
}

.gamer {
    color: rgb(13, 197, 221);
}

nav img {
    width: 20%;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 20px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.follow {
    background-color: #d6d1d1;
    padding: 10px 8px;
    border-radius: 5px;
}

.fa-youtube {
    color: rgb(245, 22, 22);
}

.banner {
    display: flex;
    background-color: rgb(241, 240, 238);
    justify-content: space-around;
    align-items: center;
    /* padding: 30px; */
    padding-left: 100px;
}

.banner img {
    width: 50%;
    padding-left: 340px;
}

.play {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

.goat {
    font-size: 5rem;
    color: rgb(218, 32, 125);
    margin: 0;
}

.btn-game {
    margin-top: 30px;
    gap: 30px;
}

.button {
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    border-radius: 10px;
}

.button:hover {
    box-shadow: 0 0 0 4px #ffff,
        0 0 0 8px rgb(218, 32, 125);
}

.sign-in {
    background-color: rgb(13, 197, 221);
}

.sign-in:hover {
    box-shadow: 0 0 0 4px #ffff,
        0 0 0 8px rgb(13, 197, 221);
}

.go-rogue {
    background-color: rgb(218, 32, 125);
    margin-left: 20px;
}

.extra-container {
    display: flex;
    background-color: rgb(245, 241, 236);
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-right: 120px;
}

.extra-container img {
    width: 85%;
}

.we-are-gamer {
    text-align: right;
    padding-left: 30px;
}

.we-are-gamer p {
    text-align: right;
    color: #534C64;
}

.container-gamer {
    color: rgb(218, 32, 125);
}

.purpose {
    padding-top: 20px;
    color: #534C64;
}

.purpose h3 {
    font-size: 30px;
}

.latest-articles {
    text-align: center;
    margin-top: 80px;
}

.latest-articles h2 {
    font-size: 50px;
    font-weight: 700;
    color: #0B0223;
    margin-bottom: 0;
}

.latest-game {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-left: 80px;
}

.latest-game img {
    width: 70%;
    /* justify-content: space-around; */
}

.upload-games {
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
}

.gamer-container h2 {
    font-size: 35px;
}

.gamer-container {
    width: 50%;
    padding-left: 80px;
}

.upload-games img {
    width: 50%;
    justify-content: right;
    padding-left: 200px;
    margin-top: 60px;
}

.upload-img {
    width: 340px;
    /* padding: 40px; */
    text-align: center;
    position: relative;
    bottom: 200px;
    right: 80px;
    margin-bottom: 0;
}